/* Numerando con CSS */
.counterIncrement {
  /* iniciando el contador */
  counter-increment: namber;
}
.counterIncrement::before {
  /* mostrando el contandor */
  content: counter(namber) ". ";
}
.resetCounter {
  /* reiniciar el conteo */
  counter-reset: namber;
}
blockquote p:first-of-type + p::before {
  content: "- ";
}
