.place {
  background-image: linear-gradient(
      274.51deg,
      rgba(74, 0, 224, 0.6) 5%,
      rgba(142, 45, 226, 0.5) 130.61%
    ),
    url("../images/patron-2.png");
  /* background-repeat: no-repeat; */
  /* background-position: left 30px bottom 50px; */
  /* background-size: cover; */
  block-size: 6rem;
}
.wrapperD {
  max-inline-size: 56.43rem;
  margin: auto;
}
.wrapperD .main-content,
.wrapperD .header-content {
  padding-inline: 1rem;
}

@media screen and (min-width: 48rem) {
  .place {
    block-size: 15.62rem;
  }
}

@media screen and (min-width: 64rem) {
  .place {
    block-size: 21.87rem;
  }
  .wrapperD {
    margin-inline-end: 27.5%;
  }
  .wrapperD .header-content {
    position: relative;
  }
  .wrapperD .header-content header {
    position: absolute;
    inset-inline-end: -13.5rem;
  }
}
