@import url("./nemiumC.css");
@import url("./variantes.css");

:root {
  font-family: "Roboto", sans-serif;
  --gray40: #212121;
  --gray30: #212429;
  --gray20: #424242;
  --gray10: #616161;
  line-height: 24px;
  color: var(--gray20);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
