/* @font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
  el font-weight: 400; es igual que poner normal
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
  font-weight: 700; es igual que poner bold
} */
:root {
  /* font-family: charter; */
  font-family: "Nunito", sans-serif;
  color: var(--gray10);
  font-size: 17px;
  --gray40: #251f24;
  --gray30: #3a3539;
  --gray20: #a5a3a5;
  --gray10: #ffffff;
  line-height: 24px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--gray40);
  margin: 0;
}
.place {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  /* url("../images/patron-1.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: left 30px bottom 50px; */
  /* background-size: cover; */
  block-size: 96px;
}
header {
  font-size: 14px;
  padding-inline: 27px;
  /* inline-size: 306px; */
  /* position: absolute; */
  /* inset-block-start: 0px; */
  /* inset-inline-start: -208px; */
}

nav p {
  color: var(--gray10);
  font-weight: 700;
}
.variantes {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-block-end: 40px;
}
.variantes p {
  color: var(--gray10);
  margin-block-end: 0;
}
.variantes a {
  display: block;
  margin-block: 8px;
  padding: 8px;
  color: var(--gray20);
  text-decoration: none;
}
.variantes a:hover,
nav a:hover {
  color: var(--gray10);
}
.variantes a:first-of-type {
  margin-block-start: 16px;
}
.variantes a:nth-of-type(2) {
  background-color: black;
  border-radius: 4px;
  color: white;
}
header nav {
  display: none;
}
nav a {
  color: var(--gray20);
  text-decoration: none;
}
nav details summary {
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;
  margin-block-start: 24px;
  outline: none;
}
nav details summary::before {
  content: url(../images/close.png);
  margin-inline-end: 15.2px;
}
nav details[open] summary::before {
  content: url(../images/open.png);
}
details ol {
  padding-inline-start: 48px;
}
nav ol li {
  margin-block: 16px;
}
h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32.74px;
  margin-block: 40px 16px;
}
p {
  color: var(--gray20);
  font-weight: 700;
  text-align: justify;
  margin-block: 16px;
}
span {
  font-weight: 800;
}
hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}
.setup img,
.conceptos img {
  /* margin-block: 24px 16px; */
  display: block;
  max-inline-size: 100%;
}
.setup img {
  margin-block: 24px 16px;
}
.conceptos img {
  margin-block: 16px 24px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  margin-block: 24px 16px;
  /* 32px/16px=2rem a diferencia de em, rem toma el tamaño base al 
  padre mas grande del DOM en este caso al html que tiene por defecto 16pxs*/
}
/* La numeracion con css para cada una de nuestras secciones */
/* reseteamos el contador en cada seccion para que inicie desde 1*/
.setup {
  counter-reset: namberLvl3;
}
/* incrementamos el contdor namberLvl3 */
.setup h2 {
  counter-increment: namberLvl3;
  margin-block-start: 16px;
}
.setup > h2::before {
  content: counter(namberLvl3) ". ";
  /* content: counter(namberLvl3, upper-roman) ".-"; contar en romanos*/
}
.modeloDeCaja h2:nth-of-type(1),
.slider > h2 {
  font-weight: 700;
}

ul li::marker {
  color: var(--gray10);
}
h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 43.65px;
}

blockquote {
  background: var(--gray30);
  border-radius: 8px;
  margin-block: 40px;
  margin-inline: 0;
  padding: 8px;
}
blockquote p {
  color: var(--gray10);
  line-height: 32px;
}
blockquote > p + p::before {
  content: "-";
}
blockquote + hr {
  display: none;
}
.seccion h3 {
  margin-block: 40px 16px;
}
.setup > h3 {
  margin-block: 16px;
}
.modeloDeCaja ol,
.modeloDeCaja ul {
  color: var(--gray20);
  padding-inline-start: 18px;
}
.modeloDeCaja ol li {
  font-weight: 700;
}
.modeloDeCaja ul li {
  margin-block: 16px;
  font-weight: 700;
}
pre {
  background-color: var(--gray30);
  /* border: 8px solid #5551ff; */
  /* border-inline: 8px solid #5551ff; */
  /* border-block: 8px solid #5551ff; */
  /* border-inline-end-width: 15px; */
  /* border-inline-end-color: violet; */
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  /* box-shadow: -10px 10px 0 0 #abaaf6; */
  /* border-radius: 8px; */
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-block: 16px 24px;
  padding-inline: 16px;
  padding-block: 16px;
  overflow: auto;
}

/* .setup > h3::after,
.conceptos > h3::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--gray20);
  display: inline-block;
} */
#emergencia {
  font-size: 24px;
  line-height: 32.74px;
  margin-block: 40px 16px;
}
.wrapper {
  max-inline-size: 636px;
  margin: auto;
}
.main-content {
  padding-inline: 16px;
}
.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.video {
  /* border: 1px solid orange; */
  /* margin: 0; */
  border-radius: 8px;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
}
.slider-bullet {
  display: inline-block;
  block-size: 15px;
  inline-size: 15px;
  background: rgba(66, 66, 66, 0.2);
  border-radius: 50%;
}
.slider-bullet:first-of-type {
  background: var(--gray10);
}
section + p {
  font-weight: 400;
  margin-block: 51px 40px;
  text-align: center;
}
section + p a {
  font-family: "Roboto", sans-serif;
}
.form input {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: var(--gray40);
  /* display: block; */
  box-sizing: border-box;
  border: 1px solid var(--gray10);
  border-radius: 8px;
  color: var(--gray10);
  inline-size: 100%;
  line-height: 24px;
  padding-block: 12px;
  padding-inline: 16px;
  margin-block-end: 24px;
  outline: none;
}
.form input[type="submit"] {
  background: #157efb;
  border: none;
  margin-block: 0;
}
.form input::-webkit-input-placeholder {
  color: var(--gray10);
}
footer {
  background: var(--gray10);
  box-sizing: border-box;
  text-align: center;
  block-size: 174px;
  padding-block: 48px;
  margin-block-start: 80px;
}
footer h2 {
  color: var(--gray40);
  font-size: 24px;
  line-height: 28.13px;
  margin-block: 0;
  margin-block-end: 19px;
}
footer a {
  text-decoration: none;
}
footer img {
  margin-inline: 11px;
}

/* / RESPONSIVE
   ========================================================================= / */

/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media screen and (min-width: 768px) {
  .place {
    block-size: 150px;
  }
  .variantes p {
    font-weight: 400;
    margin-block-start: 36px;
  }
  .variantes a {
    text-align: center;
  }
  pre {
    overflow: hidden;
  }
}

/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media screen and (min-width: 1024px) {
  .place {
    block-size: 350px;
  }
  .header-content {
    position: relative;
  }
  header {
    inline-size: 306px;
    padding-inline: 0;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-start: -330px;
  }
  header nav {
    display: block;
    inline-size: 197px;
  }
  .variantes {
    font-weight: 500;
    margin-block-end: 96px;
  }
  .variantes p {
    margin-block-start: 64px;
  }
  .variantes a {
    text-align: start;
  }
  .wrapper {
    margin-inline-start: 39%;
  }

  .main-content > h1:first-of-type {
    font-size: 64px;
    font-weight: 700;
    line-height: 87.3px;
    margin-block: 64px 16px;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54.56px;
    margin-block-end: 40px;
  }
  .modeloDeCaja > h1:nth-of-type(1) {
    font-size: 32px;
    font-weight: 600;
    line-height: 43.65px;
    margin-block-start: 122px;
  }
  p {
    font-weight: 400;
  }
  span {
    font-weight: 700;
  }
  .setup img {
    margin-block-start: 40px;
  }
  .conceptos img {
    margin-block-end: 40px;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 43.65px;
    margin-block-start: 40px;
  }
  .modeloDeCaja h2:first-of-type,
  .slider h2,
  .form h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.74px;
  }
  footer h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 43.65px;
  }
  blockquote {
    margin-block: 80px 63px;
    padding-inline: 24px 17px;
    padding-block: 24px;
  }
  blockquote p {
    font-size: 24px;
    font-weight: 400;
  }
  pre {
    font-weight: 400;
    padding-inline: 40px;
    padding-block: 40px;
  }
  .modeloDeCaja ol li,
  .modeloDeCaja ul li {
    font-weight: 400;
  }

  section + p {
    text-align: start;
  }
}

/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1350px) {
  /* .header {
    position: sticky;
    inset-block-start: -5px;
  } */
  /* .header-content {
    padding-inline: 0px;
    position: relative;
    margin-block-start: 64px;
  } */
  /* header {
    inline-size: 208px;
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: -208px;
  } */
  /* h1 {
    font-size: 4rem;
    margin-block: 64px 16px;
  } */
  /* h3 {
    font-size: 2rem;
  } */
}
