@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
  /* el font-weight: 400; es igual que poner normal */
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
  /* font-weight: 700; es igual que poner bold */
}
:root {
  /* font-family: charter; */
  font-family: "Nunito", sans-serif;
  color: var(--gray10);
  font-size: 16px;
  --gray40: #251f24;
  --gray30: #3a3539;
  --gray20: #a5a3a5;
  --gray10: #ffffff;
  line-height: 24px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--gray40);
  margin: 0;
}
.place {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  /* url("../images/patron-1.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: left 30px bottom 50px; */
  /* background-size: cover; */
  block-size: 350px;
}
header {
  color: var(--gray10);
  font-size: 14px;
  /* inline-size: 208px; */
  /* position: absolute; */
  /* inset-block-start: 0px; */
  /* inset-inline-start: -208px; */
}
nav p {
  color: var(--gray10);
}
p {
  color: var(--gray20);
  font-size: 17px;
  margin-block: 16px;
}
nav a {
  color: var(--gray20);
  text-decoration: none;
}
nav a:hover {
  color: var(--gray10);
}
nav details summary {
  font-weight: bold;
  cursor: pointer;
  margin-block-start: 24px;
  outline: none;
}
nav ol li {
  margin-block: 16px;
}
h1 {
  font-size: 40px;
  line-height: 87.3px;
  margin-block: 20px 16px;
}
h2 {
  font-size: 35px;
  line-height: 54.56px;
  /* 32px/16px=2rem a diferencia de em, rem toma el tamaño base al 
  padre mas grande del DOM en este caso al html que tiene por defecto 16pxs*/
}
h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 43.65px;
}
hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}
blockquote {
  background: var(--gray30);
  margin-block: 80px 63px;
  border-radius: 8px;
  padding-inline: 24px 17px;
  padding-block: 24px;
}
blockquote p {
  color: var(--gray10);
  font-size: 24px;
  line-height: 32px;
}
blockquote > p + p::before {
  content: "-";
}
blockquote + hr {
  display: none;
}
.seccion img {
  margin-block: 40px 16px;
  display: block;
}
.seccion h3 {
  margin-block: 40px 16px;
}
.setup > h3 {
  margin-block: 16px;
}
.conceptos img,
.modeloDeCaja img {
  max-inline-size: 100%;
}
.conceptos img:last-of-type {
  margin-block: 16px 122px;
}
.modeloDeCaja ol,
.modeloDeCaja ul {
  color: var(--gray20);
  font-size: 17px;
}
.modeloDeCaja ul li {
  margin-block: 16px;
}
pre {
  background-color: var(--gray30);
  /* border: 8px solid #5551ff; */
  border-inline: 8px solid #5551ff;
  border-block: 8px solid #5551ff;
  /* border-inline-end-width: 15px; */
  /* border-inline-end-color: violet; */
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  box-shadow: -10px 10px 0 0 #abaaf6;
  /* border-radius: 8px; */
  font-family: "Nunito", sans-serif;
  padding-inline: 40px 85px;
  padding-block: 40px;
  overflow: auto;
}
ul li::marker {
  color: var(--gray10);
}

/* La numeracion con css para cada una de nuestras secciones */
/* reseteamos el contador en cada seccion para que inicie desde 1*/
.seccion {
  counter-reset: namberLvl3;
}
/* incrementamos el contdor namberLvl3 */
.seccion h3 {
  counter-increment: namberLvl3;
}
.seccion > h3::before {
  content: counter(namberLvl3) ". ";
  /* content: counter(namberLvl3, upper-roman) ".-"; contar en romanos*/
}
/* .setup > h3::after,
.conceptos > h3::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--gray20);
  display: inline-block;
} */

.wrapper {
  /* outline: 2px solid yellow; */
  max-inline-size: 902px;
  margin: auto;
}
.main-content {
  padding-inline: 16px;
  /* outline: 3px solid blue; */
}
.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.video {
  /* border: 1px solid orange; */
  /* margin: 0; */
  border-radius: 8px;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
}
.slider-bullet {
  display: inline-block;
  block-size: 15px;
  inline-size: 15px;
  background: var(--gray20);
  border-radius: 50%;
}
.form input {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: var(--gray40);
  /* display: block; */
  box-sizing: border-box;
  border: 1px solid var(--gray10);
  border-radius: 8px;
  color: var(--gray10);
  inline-size: 100%;
  line-height: 24px;
  padding-block: 12px;
  padding-inline: 16px;
  margin-block-end: 24px;
  outline: none;
}
.form input[type="submit"] {
  background: #157efb;
  border: none;
}
.form input::-webkit-input-placeholder {
  color: var(--gray10);
}
footer {
  background: var(--gray10);
  box-sizing: border-box;
  text-align: center;
  block-size: 174px;
  padding-block: 48px;
  margin-block-start: 80px;
}
footer h2 {
  color: var(--gray40);
  margin-block: 0;
  margin-block-end: 19px;
}
footer a {
  text-decoration: none;
}
footer img {
  margin-inline: 11px;
}

/* / RESPONSIVE
   ========================================================================= / */

/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media screen and (min-width: 768px) {
  .place {
    block-size: 70px;
  }
}

/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media screen and (min-width: 1024px) {
  .place {
    block-size: 150px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 2.5rem;
  }
}

/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1350px) {
  .place {
    block-size: 350px;
  }
  .header {
    position: sticky;
    inset-block-start: -5px;
  }
  .header-content {
    padding-inline: 0px;
    position: relative;
    margin-block-start: 64px;
  }
  header {
    inline-size: 208px;
    position: absolute;
    /* inset-block-start: 0px; */
    inset-inline-start: -208px;
  }
  h1 {
    font-size: 4rem;
    margin-block: 64px 16px;
  }
  h3 {
    font-size: 2rem;
  }
}
