@import url("./nemiumC.css");
@import url("./variantes.css");
@import url("./slider.css");

:root {
  --grayPrimary: #212121;
  --graySecundary: #424242;
  --fontFamilyC: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
