@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
  /* el font-weight: 400; es igual que poner normal */
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
  /* font-weight: 700; es igual que poner bold */
}

:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  --gray50: #5551ff;
  --gray40: #000000;
  --gray30: #212429;
  --gray20: #545454;
  --gray10: #616161;
  line-height: 24px;
  color: var(--gray20);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.place {
  background-image: linear-gradient(
      274.51deg,
      rgba(74, 0, 224, 0.6) 5%,
      rgba(142, 45, 226, 0.5) 130.61%
    ),
    url("../images/patron-1.png");
  /* background-repeat: no-repeat; */
  /* background-position: left 30px bottom 50px; */
  /* background-size: cover; */
  /* block-size: 350px; */
  block-size: 100px;
}
header {
  inline-size: 208px;
  margin-block-start: 30px;
  padding-inline-start: 16px;
  color: var(--gray40);
  /* color: rgba(0, 0, 0, 0.5); */
  font-size: 14px;
}
.variantes {
  color: var(--gray10);
  margin-block-end: 104px;
}
.variantes p {
  margin-block: 0;
}
.variantes a {
  display: block;
  margin-block: 8px;
  padding: 8px;
  color: var(--gray10);
  text-decoration: none;
}
.variantes a:first-of-type {
  margin-block-start: 16px;
}
.variantes a:nth-of-type(4) {
  background-color: var(--gray40);
  border-radius: 4px;
  color: white;
}

nav a {
  color: var(--gray40);
  text-decoration: none;
}
nav a:hover {
  color: var(--gray40);
}
p {
  margin-block: 16px;
  text-align: justify;
}
section + p {
  margin-block: 24px;
}
p a {
  color: var(--gray20);
}
section + p {
  text-align: center;
}
details summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
details summary:first-of-type {
  list-style-type: none;
}
summary:before {
  content: url(../images/cerrado.png); /* nuevo icono*/
  color: var(--gray40);
  margin-inline-end: 15px;
}
details[open] summary::before {
  content: url(../images/abierto.png); /* nuevo icono */
}

details:last-of-type {
  margin-block-start: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin-block-start: 20px;
}
nav ol {
  padding-inline-start: 0;
}
nav ol li {
  block-size: 40px;
  inline-size: 188px;
  margin-block: 16px;
  list-style: none;
  counter-increment: namberLvl2;
}
nav ol li:first-of-type a {
  background: var(--gray50);
  color: white;
}
nav ol li a {
  display: block;
  padding-block: 8px;
  padding-inline: 8px;
}
nav ol li a::before {
  content: counter(namberLvl2) ". ";
}

h1 {
  text-align: center;
  color: var(--gray40);
  font-size: 50px;
  line-height: 70.31px;
  font-weight: 400;
  margin-block: 30px 16px;
}
h1 + p {
  text-align: center;
  color: var(--gray20);
}
hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}
h2 {
  color: var(--gray40);
  font-size: 32px;
  /* 32px/16px=2rem a diferencia de em, rem toma el tamaño base al 
  padre mas grande del DOM en este caso al html que tiene por defecto 16pxs*/
  font-weight: normal;
  line-height: 37.5px;
  margin-block: 40px 40px;
}
h3 {
  color: var(--gray40);
  font-weight: normal;
  font-size: 24px;
  line-height: 28.13px;
}
span {
  color: var(--gray50);
}
.section img {
  margin-block: 40px 16px;
  margin-inline: auto;
  display: block;
}
.section h3 {
  margin-block: 40px 16px;
  counter-increment: namberLvl3; /* incrementamos el contdor namberLvl3 */
  position: relative;
  padding-block-end: 8px;
}
.setup h3 {
  margin-block: 16px;
}
/* La numeracion con css para cada una de nuestras secciones */
/* reseteamos el contador en cada seccion para que inicie desde 1*/
.section {
  counter-reset: namberLvl3;
  text-align: center;
}
.section > h3::before {
  content: counter(namberLvl3) ". ";
  /* content: counter(namberLvl3, upper-roman) ".-"; contar en romanos*/
}
blockquote + hr {
  display: none;
}
blockquote {
  border-inline-start: 4px solid var(--gray50);
  margin-block: 64px;
  padding-inline-start: 16px;
}
blockquote h3 {
  margin-block: 16px;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray40);
}
blockquote h3 + h3::before {
  content: "-";
}
pre {
  background: white;
  border: 8px solid var(--gray50);
  border-radius: 8px;
  box-shadow: -10px 10px 0 0 #abaaf6;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  padding-block: 40px;
  padding-inline: 40px;
  text-align: start;
  overflow: auto;
}
.conceptos img {
  margin-block: 16px 40px;
  inline-size: 100%;
}
.conceptos img:last-of-type {
  margin-block: 16px 40px;
}
.no-Num h3 {
  margin-block: 40px 16px;
}
.no-Num ol,
.no-Num ul {
  margin-block: 16px 40px;
  padding-inline-start: 17px;
}
.no-Num ul li {
  margin-block: 16px;
}
.no-Num ul li::marker {
  color: var(--gray50);
}

.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.video {
  border-radius: 8px;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
}
.slider-bullet {
  display: inline-block;
  block-size: 15px;
  inline-size: 15px;
  background: rgba(142, 45, 226, 0.5);
  border-radius: 50%;
}
.slider-bullet:first-of-type {
  background: var(--gray50);
}
.form {
  margin-block: 40px 40px;
  margin-inline-start: 3px;
  position: relative;
}

form input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid var(--gray40);
  border-radius: 90px;
  padding-block: 12px;
  padding-inline: 16px;
  color: var(--gray20);
  margin-block-end: 16px;
  block-size: 48px;
  inline-size: 100%;
}
form input::-webkit-input-placeholder {
  color: var(--gray20);
}
form input[type="submit"] {
  border: none;
  color: white;
  background: var(--gray50);
  cursor: pointer;
}
footer {
  background: var(--gray40);
  box-sizing: border-box;
  text-align: center;
  block-size: 174px;
  padding-block: 48px;
}
footer h2 {
  color: white;
  margin-block: 0;
  margin-block-end: 19px;
}
footer a {
  text-decoration: none;
}
footer img {
  margin-inline: 11px;
}
.wrapper {
  max-inline-size: 902px;
  margin: auto;
}
.main-content {
  padding-inline: 16px 24px;
}

/*Móviles en horizontal o tablets en vertical*/
@media screen and (min-width: 776px) {
  .place {
    block-size: 150px;
  }
  form {
    margin-inline: 65px;
  }
  form input {
    margin-inline-end: 16px;
    inline-size: 280px;
    margin-block-end: 0;
  }
  form input[type="submit"] {
    position: absolute;
    inline-size: 119px;
    inset-inline-start: 550px;
  }
  section + p {
    text-align: start;
  }
  blockquote {
    inline-size: 613px;
    margin-inline: auto;
  }
}
/*Tablets en horizonal y escritorios normales*/
@media screen and (min-width: 1024px) {
  .place {
    block-size: 250px;
  }
  header {
    margin-block-start: 45px;
    padding-inline-start: 0;
    position: absolute;
    inset-inline-end: -208px;
  }
  .header {
    /* position: sticky;
    inset-block-start: -35px; */
  }
  .header-content {
    position: relative;
  }
  .wrapper {
    margin-inline-end: 200px;
  }

  h1 {
    font-size: 55px;
    margin-block: 45px 16px;
  }
  hr {
    margin-block: 64px;
  }
  h2 {
    margin-block: 64px 40px;
  }
  .conceptos img:last-of-type {
    margin-block: 16px 154.56px;
  }
  .form {
    margin-block: 40px 113px;
  }
  .section {
    text-align: center;
  }
  .section p {
    text-align: center;
  }
  .section img {
    margin-inline: auto;
  }
}

/*Escritorios muy anchos*/
@media screen and (min-width: 1350px) {
  .place {
    block-size: 350px;
  }
  header {
    margin-block-start: 64px;
    padding-inline-start: 0;
    position: absolute;
    inset-inline-end: -208px;
  }
  .header-content {
    position: relative;
  }
  .wrapper {
    margin: auto;
  }
  h1 {
    font-size: 60px;
    margin-block: 64px 16px;
  }
}
