@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
  /* el font-weight: 400; es igual que poner normal */
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: 700;
  /* font-weight: 700; es igual que poner bold */
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --gray40: #212121;
  --gray30: #212429;
  --gray20: #424242;
  --gray10: #616161;
  line-height: 24px;
  color: var(--gray20);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.place {
  background-image: linear-gradient(
      3.36deg,
      #212325 -63.62%,
      rgba(255, 255, 255, 0) 43.49%
    ),
    url("../images/patron-1.png");
  /* background-repeat: no-repeat; */
  /* background-position: left 30px bottom 50px; */
  /* background-size: cover; */
  /* block-size: 350px; */
  block-size: 100px;
}
header {
  margin-block-start: 30px;
  padding-inline: 16px;
  color: var(--gray10);
  font-size: 14px;
}
header nav {
  display: none;
}
.variantes {
  color: var(--gray10);
  margin-block-end: 48px;
}
.variantes p {
  margin-block: 0;
}
.variantes a {
  box-sizing: border-box;
  display: block;
  font-weight: 500;
  padding: 8px;
  color: #808080;
  text-decoration: none;
}
.variantes a:hover {
  color: var(--gray20);
}
.variantes a:first-of-type {
  margin-block-start: 16px;
}
.variantes a:nth-of-type(1) {
  background-color: var(--gray40);
  border-radius: 4px;
  color: white;
}
nav a {
  color: var(--gray10);
  text-decoration: none;
}
nav a:hover {
  color: var(--gray40);
}
p {
  margin-block: 16px;
  text-align: justify;
}
p a {
  color: var(--gray40);
}
nav details summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
  list-style-type: none;
}
nav details summary::before {
  block-size: 24px;
  display: inline-block;
  content: url(../images/close.png);
  inline-size: 24px;
  margin-inline-end: 8px;
  margin-block-start: 2px;
}
nav details[open] summary::before {
  content: url(../images/open.png);
}
details:last-of-type {
  margin-block-start: 24px;
}
nav ol {
  padding-inline-start: 15px;
  margin-block: 16px 24px;
}
details summary p {
  display: inline-block;
  inline-size: 153px;
  margin: 0;
  text-align: start;
  vertical-align: top;
}
details ol {
  padding-inline-start: 48px;
}
nav ol li {
  margin-block: 16px;
}

h1 {
  color: var(--gray40);
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 400;
  margin-block: 30px 16px;
}
h1 + p {
  color: var(--gray40);
}
hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}
h2 {
  color: var(--gray40);
  font-size: 24px;
  /* 32px/16px=2rem a diferencia de em, rem toma el tamaño base al 
  padre mas grande del DOM en este caso al html que tiene por defecto 16pxs*/
  font-weight: normal;
  line-height: 28.13px;
  margin-block: 40px 24px;
}
#h2-Slider {
  color: var(--gray20);
  margin-block: 24px 16px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 23.44px;
}
span {
  font-weight: 700;
  font-style: italic;
}
.section img {
  margin-block: 24px 16px;
  display: block;
}
.section h3 {
  margin-block: 24px 16px;
  counter-increment: namberLvl3; /* incrementamos el contdor namberLvl3 */
  position: relative;
  padding-block-end: 8px;
}
.setup h3 {
  margin-block: 16px 24px;
}
/* La numeracion con css para cada una de nuestras secciones */
/* reseteamos el contador en cada seccion para que inicie desde 1*/
.section {
  counter-reset: namberLvl3;
}
.section > h3::before {
  content: counter(namberLvl3) ". ";
  /* content: counter(namberLvl3, upper-roman) ".-"; contar en romanos*/
}
.section h3::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--gray20);
  display: inline-block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
}
blockquote + hr {
  display: none;
}
blockquote {
  color: var(--gray20);
  line-height: 32px;
  margin-block: 40px;
  margin-inline: 0;
  border-inline-start: 4px solid var(--gray40);
  padding-inline-start: 16px;
}
blockquote p {
  text-align: start;
  margin-block: 4px;
}
blockquote p:last-of-type {
  color: var(--gray10);
}
blockquote p + p::before {
  content: "-";
}
pre {
  background: #fec62e;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-block: 40px;
  padding-inline: 40px;
  overflow: auto;
}
.conceptos img {
  margin-block: 16px 24px;
  inline-size: 100%;
}
/* .conceptos img:last-of-type {
  margin-block: 16px 40px;
} */
.no-Num h3 {
  margin-block: 24px 16px;
}
.no-Num ol,
.no-Num ul {
  /* margin-block: 16px 24px; */
  padding-inline-start: 18px;
}
.no-Num ul li {
  margin-block: 16px;
}

.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.video {
  border-radius: 8px;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
}
.slider-bullet {
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  background: rgba(66, 66, 66, 0.2);
  border-radius: 50%;
}
.slider-bullet:first-of-type {
  background-color: var(--gray20);
}
section + p {
  margin-block: 40px;
  text-align: center;
}
.form {
  margin-block: 40px 24px;
  margin-inline-start: 3px;
  position: relative;
}
.form h3 {
  margin-block: 16px;
}

form input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid var(--gray10);
  border-radius: 90px;
  padding-block: 12px;
  padding-inline: 16px;
  color: var(--gray20);
  margin-block-end: 16px;
  block-size: 48px;
  inline-size: 100%;
}
form input::-webkit-input-placeholder {
  color: var(--gray20);
}
form input[type="submit"] {
  border: none;
  color: white;
  background: #000000;
  position: absolute;
  margin-block-end: 0;
  inline-size: 115px;
  /* inset-inline-start: 516px; */
  inset-inline-end: 0px;
  /* inset-block-end: 0; */
  cursor: pointer;
}
footer {
  background: var(--gray30);
  box-sizing: border-box;
  text-align: center;
  block-size: 174px;
  padding-block: 48px;
}
footer h2 {
  color: white;
  margin-block: 0;
  margin-block-end: 19px;
}
footer a {
  text-decoration: none;
}
footer img {
  margin-inline: 11px;
}
.wrapper {
  max-inline-size: 902px;
  margin: auto;
}
.main-content {
  padding-inline: 16px;
}
/* Móviles en vertical */
@media screen and (min-width: 425px) {
  .variantes a {
    text-align: center;
  }
}

/*Móviles en horizontal o tablets en vertical*/
@media screen and (min-width: 768px) {
  .place {
    block-size: 150px;
  }
  form input {
    margin-inline-end: 16px;
    inline-size: 280px;
    margin-block-end: 0;
  }
  form input[type="submit"] {
    position: absolute;
    inline-size: 119px;
    inset-inline-start: 520px;
  }
  .form {
    margin-block-end: 113px;
  }
}
/*Tablets en horizonal y escritorios normales*/
@media screen and (min-width: 1024px) {
  .place {
    block-size: 250px;
  }
  header {
    /* inline-size: 188px; */
    margin-block-start: 64px;
    padding-inline: 0;
    position: absolute;
    inset-inline-start: -190px;
  }
  header nav {
    display: block;
  }
  .variantes {
    margin-block-end: 104px;
  }
  .variantes a {
    text-align: start;
  }
  .header-content {
    position: relative;
  }
  .wrapper {
    margin-inline-start: 25.5%;
  }
  .main-content {
    padding-inline-start: 44px;
    padding-inline-end: 52px;
  }
  h1 {
    font-size: 60px;
    line-height: 70.31px;
    margin-block: 64px 16px;
  }
  hr {
    margin-block: 64px;
  }
  h2 {
    font-size: 32px;
    line-height: 37.5px;
    margin-block: 64px 40px;
  }
  #h2-Slider {
    font-size: 24px;
    line-height: 28.13px;
    /* margin-block-start: 40px; */
  }
  h3 {
    font-size: 24px;
    line-height: 28.13px;
  }
  .section h3 {
    margin-block: 40px 16px;
  }
  .conceptos img:last-of-type {
    margin-block: 16px 156px;
  }
  blockquote {
    font-size: 24px;
    margin-block: 32px 64px;
  }
  blockquote p {
    margin-block: 16px;
  }
  section + p {
    text-align: start;
  }
  .no-Num h3 {
    margin-block: 40px 16px;
  }
  .no-Num ul {
    margin-block: 16px 40px;
  }
}

/*Escritorios muy anchos*/
@media screen and (min-width: 1350px) {
  .place {
    block-size: 350px;
  }
  header {
    margin-block-start: 64px;
    padding-inline-start: 0;
    position: absolute;
    inset-inline-start: -208px;
  }
  .header-content {
    position: relative;
  }
  .main-content {
    padding-inline-end: 0;
  }
}
